<div> 
	<div property="schema:text">
		<h2>{{ description }}</h2>
		<h6>{{ comments }}</h6>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="border:1px transparent solid !important;">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
							    <a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
							    </a>
						    </li>
						    <li><a href="#">Empresa 1</a></li>
						    <li><a href="#">Empresa 2</a></li>
						    <li><a href="#">Empresa 3</a></li>
						    <li><a href="#">Empresa 4</a></li>
						    <li><a href="#">Empresa 5</a></li>
						    <li>
						      	<a href="#" aria-label="Next">
						        	<span aria-hidden="true">&raquo;</span>
						      	</a>
						    </li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9" style="border:1px transparent solid !important;">
				 	<div class="input-group">
				      	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Buscar</button>
				      	</span>
				      	<input type="text" class="form-control" placeholder="Oferta...">
				    </div>
				</div>
				<div class="col-md-3" style="border:1px transparent solid !important;">
					<input data-drupal-selector="edit-clear" type="submit" id="edit-clear" name="op" value="POSTEAR UNA OFERTA" class="btn btn-default">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="border:1px transparent solid !important;">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12" style="border:1px transparent solid !important;">
								<h3>BIENVENIDO</h3>
								<h5>Nuestra Misión</h5>
								<span>
								Crear un vínculo de comunicación entre los alumnos de la Facultad de Ingeniería y las empresas e instituciones contratantes.
								</span>
								<hr />
							</div>
						</div> 
						<div class="row">
							<div class="col-md-12" style="border:1px transparent solid !important;">
								<input data-drupal-selector="edit-clear" type="submit" id="edit-clear" name="op" value="UNETENOS" class="button js-form-submit form-submit">
								<hr />
							</div>
						</div> 
						<div class="row">
							<div class="col-md-12" style="border:1px transparent solid !important;">
								<h5>Principales Ofertas</h5>
							</div>
						</div> 
					</div>
				</div>
				<div class="col-md-8" style="border:1px transparent solid !important;">
					<div class="row">
						<div class="col-md-12" style="border:1px transparent solid !important;">
							<div class="list-group">
								<div class="list-group-item">
									<div class="logo">
										<a href="http://www.krop.com/synapse-studios/" target="_self" 2x-bg="2x-bg" data-url="http://images.krop.com/logo-13125-576b98233345.jpg" style="background-image: url(&quot;http://images.krop.com/logo-13125-576b98233345.jpg&quot;);"></a>
									</div>
									<div class="details">
										<h3 class="title">
											<a href="/creative-jobs/kp/senior-uiux-designer-29cy87/" target="_self">Senior UI/UX Designer&nbsp;<span class="tag new medium">New</span>&nbsp;<span class="tag featured medium">Featured</span></a>
										</h3>
										<div class="summary"><a href="http://www.krop.com/synapse-studios/" target="_self">Synapse Studios</a> in <a href="/creative-jobs/?loc=Tempe, AZ" target="_self">Tempe, AZ</a></div><div class="description">We're looking for a senior application UI/UX designer to join our growing custom software development team. Ideal candidates have a strong design back...</div>
									</div>
								</div>
								<div class="list-group-item">
									<div class="logo">
										<a href="http://www.krop.com/synapse-studios/" target="_self" 2x-bg="2x-bg" data-url="http://images.krop.com/logo-13125-576b98233345.jpg" style="background-image: url(&quot;http://images.krop.com/logo-13125-576b98233345.jpg&quot;);"></a>
									</div>
									<div class="details">
										<h3 class="title">
											<a href="/creative-jobs/kp/senior-uiux-designer-29cy87/" target="_self">Senior UI/UX Designer&nbsp;<span class="tag new medium">New</span>&nbsp;<span class="tag featured medium">Featured</span></a>
										</h3>
										<div class="summary"><a href="http://www.krop.com/synapse-studios/" target="_self">Synapse Studios</a> in <a href="/creative-jobs/?loc=Tempe, AZ" target="_self">Tempe, AZ</a></div><div class="description">We're looking for a senior application UI/UX designer to join our growing custom software development team. Ideal candidates have a strong design back...</div>
									</div>
								</div>
								<div class="list-group-item">
									<div class="logo">
										<a href="http://www.krop.com/synapse-studios/" target="_self" 2x-bg="2x-bg" data-url="http://images.krop.com/logo-13125-576b98233345.jpg" style="background-image: url(&quot;http://images.krop.com/logo-13125-576b98233345.jpg&quot;);"></a>
									</div>
									<div class="details">
										<h3 class="title">
											<a href="/creative-jobs/kp/senior-uiux-designer-29cy87/" target="_self">Senior UI/UX Designer&nbsp;<span class="tag new medium">New</span>&nbsp;<span class="tag featured medium">Featured</span></a>
										</h3>
										<div class="summary"><a href="http://www.krop.com/synapse-studios/" target="_self">Synapse Studios</a> in <a href="/creative-jobs/?loc=Tempe, AZ" target="_self">Tempe, AZ</a></div><div class="description">We're looking for a senior application UI/UX designer to join our growing custom software development team. Ideal candidates have a strong design back...</div>
									</div>
								</div>
								<div class="list-group-item">
									<div class="logo">
										<a href="http://www.krop.com/synapse-studios/" target="_self" 2x-bg="2x-bg" data-url="http://images.krop.com/logo-13125-576b98233345.jpg" style="background-image: url(&quot;http://images.krop.com/logo-13125-576b98233345.jpg&quot;);"></a>
									</div>
									<div class="details">
										<h3 class="title">
											<a href="/creative-jobs/kp/senior-uiux-designer-29cy87/" target="_self">Senior UI/UX Designer&nbsp;<span class="tag new medium">New</span>&nbsp;<span class="tag featured medium">Featured</span></a>
										</h3>
										<div class="summary"><a href="http://www.krop.com/synapse-studios/" target="_self">Synapse Studios</a> in <a href="/creative-jobs/?loc=Tempe, AZ" target="_self">Tempe, AZ</a></div><div class="description">We're looking for a senior application UI/UX designer to join our growing custom software development team. Ideal candidates have a strong design back...</div>
									</div>
								</div>
							</div>
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li>
									    <a href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
									    </a>
								    </li>
								    <li><a href="#">1</a></li>
								    <li><a href="#">2</a></li>
								    <li><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li>
								      	<a href="#" aria-label="Next">
								        	<span aria-hidden="true">&raquo;</span>
								      	</a>
								    </li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<hr />
				<div class="col-md-12" style="border:1px transparent solid !important;">
					{{ login_form }}
				</div>
			</div> 
		</div>
	</div>
</div>